version: "3.9"

services:
  jupyter:
    build: .
    container_name: churn-lab
    ports:
      - "8888:8888"
    volumes:
      - ./:/app
    command: >
      jupyter lab
      --ip=0.0.0.0
      --port=8888
      --no-browser
      --allow-root
    environment:
      - JUPYTER_ENABLE_LAB=yes
